<nav>
	<div class="nav-wrapper container">
		<!--<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">JavaScript</a></li>
		</ul>-->
		<ul class="main-nav right">
			{% for node in site.pages %}
				{% if node.navGroup == "core" %}
					<li class="waves-effect waves-light {% if page.url contains node.url %}active{% endif %}"><a class="internal-link" href="{{site.baseurl}}{{node.url}}">{{node.title}}</a></li>
				{% endif %}
			{% endfor %}
			<div class="active-indicator"></div>
		</ul>
		
		<!-- Mobile nav -->
		<ul id="slide-out" class="side-nav">
			{% for page in site.pages %}
				{% if page.navGroup == "core" %}
					<li><a class="internal-link" href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
		<a href="{{site.baseurl}}/" class="brand-logo mono internal-link">{{site.title}}</a>
	</div>
	<div id="preloader" class="progress">
		<div class="indeterminate cyan"></div>
	</div>
</nav>